<md-content layout-padding class="scroll">
	<div>
		<form name="EditForm">

			<md-container class="md-block" flex-gt-sm>


				<h2>Edit your task</h2>

			</md-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Title</label>
				<input ng-model="ectrl.task.title" required>
			</md-input-container>




			<md-input-container class="md-block">
				<label>Description</label>
				<textarea ng-model="ectrl.task.description" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Tags</label>
				<input ng-model="ectrl.task.tags" required>
			</md-input-container>




			<md-input-container class="md-block" flex-gt-sm>
				<label>Priority</label>
				<md-select name="type" ng-model="ectrl.task.priority" required>
					<md-option value="-1">Low</md-option>
					<md-option value="0">Normal</md-option>
					<md-option value="1">High</md-option>
				</md-select>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Status</label>
				<md-select name="type" ng-model="ectrl.task.status" required>
					<md-option value="0">Complete</md-option>
					<md-option value="1">Incomplete</md-option>
				</md-select>
			</md-input-container>


			<md-input-container class="md-block" flex-gt-sm>
				<label>Estimated work (hours)</label>
				<input ng-model="ectrl.task.estimatedwork" required>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Date</label>
				<md-datepicker ng-model="ectrl.task.date" required></md-datepicker>
			</md-input-container>

	</div>

	<div>
		<md-button type="submit" ng-click="ectrl.submit(ectrl.task)" ng-href="/task">Submit</md-button>
		<md-button type="back" ng-click="ectrl.clearForm()" ng-href="/task">Back</md-button>

	</div>


	</form>
	</div>
</md-content>